/* This file contains theme based overrides for existing classes. */

/* Override for core/frontend/src/cards/css/header.css */
.kg-header-card.kg-size-small h2.kg-header-card-header {
    font-size: 7vmin !important;
}

/* Override fonts, font color for in-column header */
[class^="col"] h1, h2, h3, h4 {
    font-family: var(--font-serif);    
    color: var(--temple-brown);
}
  
/* Override paragraph lower padding */
[class^="col"] p {
    padding-bottom: 1.5rem;
}