:root {

    /* Enclave Colors */
    --enclave-chaos: #ad2d47;
    --enclave-mystery: #8e76b0;
    --enclave-logic: #226797;
    --enclave-structure: #01806c;
    --enclave-order: #bba96d;

    /* Temple Branding */
    --temple-black: #0C0B0B;
    --temple-brown: #BD7B4F;
    

    /* Colours */
    --color-green: #a4d037;
    --color-yellow: #fecd35;
    --color-red: #f05230;
    --color-darkgrey: #15171A;
    --color-midgrey: #738a94;
    --color-lightgrey: #c5d2d9;
    --color-wash: #e5eff5;
    --color-darkmode: #151719;
    --color-white: #fff;


    /*
    An accent color is also set by Ghost itself in
    Ghost Admin > Settings > Brand

    --ghost-accent-color: {value};

    You can use this variale throughout your styles
     */

    /* Fonts */
    --font-sans-serif: "Caviar Dreams", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --font-serif: "Megant", serif;
    --font-mono: Menlo, Courier, monospace;

}